#createClass {
  margin-top: 40px;
}

#createClass .container {
  text-align: center;
  max-width: 1000px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
}

#createClass form {
  text-align: left;
}


#createSeries{
  margin-top: 50px;
  border: 1px solid rgb(183, 193, 236);
  padding: 20px;
  border-radius: 30px;
  max-width: 400px;
  text-align: left;
  margin-left: 40px;
  background-color: azure;

}

  #classInfoSerie{
    margin-top: 50px;
    border: 1px solid rgb(183, 193, 236);
    padding: 20px;
    border-radius: 30px;
    max-width: 600px;
    text-align: left;
    margin-left: 20px;

}

#img{
  height: 200px; width: 100%; display: block;
}




#cardSeries{
  /* max-width: 15rem; */
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  position: center;
  width: 15rem;
  background-color: whitesmoke;  
}

#page{
  margin-left: 100px;


}

