#main {
  margin-bottom: 60px;
}

#main #home {
  background-color: #008888;
}

#main #home .connection-img {
  background-image: url("./Connection\ White.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: calc( 100vh - 120px);
}

