$blueColor: #3498db;
$greenColor: #4caf50;
$borderRadius: 0px;


.btn-primary {
    background-color: $blueColor;
}

.attendance-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}

.user-attendance {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    background-color: #f8f8f8 !important;
    padding: 10px;
    grid-template-rows: min-content;
}

.form-attendance-tracker {
    display: grid;
    grid-template-rows: auto auto;
}

.atendance-edit-form{
    display: grid;
    grid-template-columns: 4fr 4fr 0fr;
}
// .attendance-tracker{
//     grid-column: 2/span 2;
// }
